<section>
    <div class="contenedor">
        <div class="contenedor__dato">
            <h1>IP ADDRESS</h1>
            <P>192.212.174.101</P>
        </div>
        <div class="borde"></div>
        <div class="contenedor__dato">
            <h1>LOCATION</h1>
            <P>Brooklin, NY 10001</P>
        </div>
        <div class="borde"></div>
        <div class="contenedor__dato">
            <h1>TIMEZONE</h1>
            <p>UTC-05:00</p>
        </div>
        <div class="borde"></div>
        <div class="contenedor__dato">
            <h1>ISP</h1>
            <P>SpaceX StarLink</P>
        </div>
    </div>
</section>
