.contenedor{
    display: flex;
    align-items: center;
    width: 75vw;
    min-height: 24vh;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.contenedor__dato{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 25%;
    padding-left: 1.4rem;
}
.contenedor__dato h1{
    font-size: 0.8rem;
    font-weight: 600;
    color: hsl(0, 0%, 59%);
    margin-bottom: 1rem;
}
.contenedor__dato p{
    font-size: 1.5rem;
    font-weight: 700;
    color: hsl(0, 0%, 17%);
}
.borde{
    border: 1px solid hsl(0, 0%, 59%);
    width: 0;
    height: 2.5rem;
}

@media only screen and (max-width: 600px) {
    .contenedor{
        flex-direction: column;
        width: 90vw;
        padding-bottom: 1.2rem;
    }
    .contenedor__dato{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        padding-left: 0;
    }
    .contenedor__dato h1{
        font-size: 0.9rem;
        margin: 1.3rem 0 0rem 0;
    }
    .contenedor__dato p{
        font-size: 1.6rem;
        margin-top: 0.6rem;
    }
    .borde{
        display: none;
    }
}

@media only screen and (min-width: 768px){
    .contenedor{
        width: 95vw;
    }
}

@media only screen and (min-width: 992px){
    .contenedor{
        width: 75vw;
    }
}