
<section>
    <div class="contenedor"  *ngIf="datosObtenidos" >
        <div class="contenedor__dato" >
            <h1>IP ADDRESS</h1>
            <P>{{datosObtenidos.ip}}</P>
        </div>
        <div class="borde"></div>
        <div class="contenedor__dato">
            <h1>LOCATION</h1>
            <P>{{datosObtenidos.location.region}}, {{datosObtenidos.location.city}}</P>
        </div>
        <div class="borde"></div>
        <div class="contenedor__dato">
            <h1>TIMEZONE</h1>
            <p>UTC {{datosObtenidos.location.timezone}}</p>
        </div>
        <div class="borde"></div>
        <div class="contenedor__dato">
            <h1>ISP</h1>
            <P>{{datosObtenidos.isp}}</P>
        </div>
    </div>
</section>
