.contenedor{
    display: flex;
    align-items: center;
    border: 1px solid blue;
    width: 75vw;
    height: 24vh;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.contenedor__dato{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 25%;
    padding-left: 1.4rem;
}
.contenedor__dato h1{
    font-size: 0.8rem;
    font-weight: 600;
    color: hsl(0, 0%, 59%);
    margin-bottom: 1rem;
}
.contenedor__dato p{
    font-size: 1.5rem;
    font-weight: 700;
    color: hsl(0, 0%, 17%);
}
.borde{
    border: 1px solid hsl(0, 0%, 59%);
    width: 0;
    height: 50%;
}