app-datos{
    position: absolute;
    z-index: 10;
    top: 28%;
    left: 12%
    
}
@media only screen and (max-width: 600px){
    app-datos{
        top: 11rem;
        left: 5%;
    }
}

@media only screen and (min-width: 768px){
    app-datos{
        left: 2.5%;
    }
}
@media only screen and (min-width: 992px){
    app-datos{
        left: 12%;
    }
}