/* You can add global styles to this file, and also import other style files */
@import url("https://unpkg.com/leaflet@1.9.2/dist/leaflet.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}